absl-py==1.3.0
alembic==1.8.1
anyio==3.6.1
apache-airflow==2.4.0
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.2.1
apispec==3.3.2
argcomplete==2.0.0
asttokens==2.0.8
astunparse==1.6.3
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
blinker==1.5
branca==0.5.0
bs4==0.0.1
cachelib==0.9.0
cachetools==5.2.0
cattrs==22.1.0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
colorama==0.4.5
colorlog==4.8.0
commonmark==0.9.1
ConfigUpdater==3.1.1
connexion==2.14.1
cron-descriptor==1.2.31
croniter==1.3.7
cryptography==38.0.1
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.5.1
dnspython==2.2.1
docutils==0.19
email-validator==1.3.0
entrypoints==0.4
exceptiongroup==1.0.0rc9
executing==1.0.0
Flask==2.2.2
Flask-AppBuilder==4.1.3
Flask-Babel==2.0.0
Flask-Caching==2.0.1
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==22.9.24
folium==0.12.1.post1
fonttools==4.35.0
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
greenlet==1.1.3
grpcio==1.50.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.7.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
inflection==0.5.1
ipykernel==6.15.2
ipysigma==0.20.1
ipython==8.5.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-widgets==3.0.3
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
libclang==14.0.6
linkify-it-py==2.0.0
lockfile==0.12.2
Mako==1.2.3
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.0
mdurl==0.1.2
nest-asyncio==1.5.5
networkx==2.8.8
nltk==3.7
numpy==1.23.2
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
pathspec==0.9.0
pendulum==2.1.2
pickleshare==0.7.5
Pillow==9.2.0
pluggy==1.0.0
prison==0.2.1
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.2
psycopg2==2.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
PyJWT==2.5.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-daemon==2.3.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
python-nvd3==0.15.0
python-slugify==6.1.2
pytz==2022.2.1
pytzdata==2020.1
pywin32==304
PyYAML==6.0
pyzmq==23.2.1
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.5.1
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.12.0
setproctitle==1.3.2
six==1.16.0
sklearn==0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
stack-data==0.5.0
swagger-ui-bundle==0.0.9
tabulate==0.8.10
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
text-unidecode==1.3
threadpoolctl==3.1.0
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
typing_extensions==4.3.0
uc-micro-py==1.0.1
unicodecsv==0.14.1
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wincertstore==0.2
wordcloud==1.8.2.2
wrapt==1.14.1
WTForms==2.3.3
